.body {
  margin: 0;
  justify-content: left;
}

.nav-dash {
  background: #fff;
  color: #212ea0;
  padding: 1rem;
  width: 260px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.logos {
  display: flex;
}

.shortly {
  margin-top: 25px;
  margin-left: 10px;
}

.logo {
  width: 150px;
  margin-left: -40px;
}

.dash-text {
  color: #212ea0;
  font-size: 1.25rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  margin-top: 2.5rem;
}

.username {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
}

.logout {
  color: #c53030;
  margin-top: 390px;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

.btn-change {
  background-color: #3182ce;
  margin-left: 5px;
  color: #fff;
  width: 200px;
  padding: 10px 29px;
  margin-top: 15px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s;
}

.btn-change:hover {
  background-color: #2b6cb0;
}

.img-li {
  margin-right: 15px;
}

.img-li-1 {
  width: 30px;
  height: 24px;
  margin-right: 15px;
}

.img-li-2 {
  width: 30px;
  height: 24px;
  margin-right: 20px;
}

.li-dash {
  list-style: none;
  font-size: 18px;
  display: block;
  cursor: pointer;
  color: #797979;
  margin-top: 15px;
  margin-left: 10px;
}

/* ------------ media query ----------- */

@media (min-width: 640px) {
  .div-1 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .div-1 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
